# Python
__pycache__/
*.pyc
*.pyo
*.pdb
*.egg-info/
*.egg
*.dist-info/
*.whl

# Virtual environments
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db


# Environment
.env

# Update
.md

# tast
test/
tests/
test.bat
setting.json
pyasciifilm.log