# Python
__pycache__/
*.pyc
*.pyo
*.pdb
*.egg-info/
*.egg
*.dist-info/
*.whl

# Virtual environments
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# tast
/_*
test/
tests/
test.bat
test-one.bat
setting.json
pyasciifilm.log